h1 {
    color: red;
    font-family: 'Courier New', Courier, monospace;
}

#login {
    font-family: sans-serif;
    background-color: greenyellow;
}

#signup{
     font-family: sans-serif;
    background-color: green;
}

div {
    background-color: beige;
}

input[type="text"] {
    background-color: beige;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.follow {
    background-color: yellow;
    color: purple;
}

h3{
    background-color: beige;
}

.upvote{
    background-color: green;
}

.ans {
    background-color: aqua;
}

nav ul li {
    color: blue;
}

nav ul li a {
    color: purple;
    text-decoration: none;
}

